
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('./css/bootstrap.css') }}"/>
<script src="{{ asset('./js/jquery-3.2.1.js') }}"></script>
{% endblock %}

        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{{ test }}</button>
        </div>
    
